*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@mixin desktop {
    @media only screen and (min-width:400px){
        @content;
    }
}
$prin_color:#060A24
$bot_color: #00F3BB
$grad_color: linear-gradient(top right,#0000FE,#00F0B8)

header{
    color: #060A24;
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'IBM Plex Mono', monospace;
    img{
       margin: 10px 16px;
       @include desktop{
           width: 36px;
           height: 36px;
           margin-left: 30px;
       }
    }
    .menu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;
        width: 100%;
        position: absolute;
        &__nav #btn-check:checked {
            &~ .menu__nav__nav-list{
                left: 0;
                transition: 0.8s;
            }
            &~ .menu__nav__bot{ 
                .menu-bar{
                    &.primer-linea{
                        transform: rotate(45deg);
                        transform-origin: 0% 0%;
                    }
                    &.segunda-linea{
                        opacity: 0;
                    }
                    &.tercer-linea{
                        transform: rotate(-45deg);
                        transform-origin: 0% 100%;
                    }
                }
            }
        }        
        &__nav{
            input{
                display: none;
            }
            &__bot{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin: 15px;
                @include desktop{
                    display: none;
                }
                .menu-bar{
                    width: 24px;
                    height: 2px;
                    background-color: black;
                    margin-bottom: 6px;
                }
            }
            &__nav-list{
                position: absolute;
                font-family: 'IBM Plex Mono', monospace;
                width: 100%;
                z-index: 1;
                left: -100%;
                @include desktop{
                    left: 5%;
                    width: 95%;
                }
                ul{
                    background-color: #0000EC;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    @include desktop{
                        flex-direction: row;
                        justify-content: flex-end;
                        background-color: white;
                        color: black;
                    }
                    li{
                        width: 100%;
                        text-align: left;
                        padding: 24px 16px;
                        list-style: none;
                        &:hover{
                            text-decoration: line-through;
                            color: #00F3BB;
                        }
                        &:active{
                            text-decoration: line-through;
                            color: #060A24 56%;
                        }
                        @include desktop{
                            width: auto;
                            padding: 26px 48px;
                        }
                    }
                }
            }
        }
    }
}
.intro{
    &__one{
        color: $prin_color;
        margin-left: 16px;
        margin-top: 29px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        @include desktop{
            display: none;
        }
    }
    &__one-hi{
        color: $prin_color;
        display: none;
        @include desktop{
            display: block;
            color: black;
            margin-top: 80px;
            margin-left: 120px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 64px;
        }
    }
    &__two{
        color: $prin_color;
        position: relative;
        margin: 16px;
        line-height: 20px;
        font-family: 'IBM Plex Mono', monospace;
        width: 80%;
        font-size: 14px;
        @include desktop{
            display: none;
        }
    }
    &__two-hi{
        color: $prin_color;
        display: none;
        @include desktop{
            position: relative;
            width: 46%;
            display: block;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            line-height: 24px;
            margin-left: 120px;
        }
    }
    .bot{
        &__sty{
            font-family: 'IBM Plex Mono', monospace;
            background-color: $bot_color
            color: $prin_color
            padding: 13px 96px;
            margin: 20px 16px;
            margin-bottom: 40px;
            font-size: 16px;
            &:hover{
                color: white;
                background: $grad_color;
            }
            @include desktop{
                margin-left: 120px;
                margin-top: 36px;
                padding: 16px 59px;
            }
        }
    }
}
.main{
    width: 100%;
    height: 1300px;
    background: linear-gradient(#0000FF,#0000A3);
    transform: skewY(-6deg);
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    @include desktop{
        height: 1000px;
    }
    &__title{
        transform: skewY(6deg);
        position: relative;
        top: 64px;
        margin-left: 16px;
        margin-bottom: 21px;
        color: white;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        @include desktop{
            margin-top: 70px;
            margin-left: 120px;
        }
    }
    .cont{
        transform: skewY(6deg);
        position: relative;
        top: 64px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        &__ifr{
            display: flex;
            width: 95%;
            margin-left: 11px;
            @include desktop{
                width: 100%;
                width: 584px;
                margin-left: 50px;
            }
        }
        @include desktop{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 70px;
        }
    }
}
.us{
    display: flex;
    flex-direction: column;
    @include desktop{
        flex-direction: row;
    }
    &__pho{
        position: relative;
        top: -140px;
        img{
            width: 100%;
            @include desktop{
                width: 460px;
                margin-left: 100px;
            }
        }
    }
    .text{
        color: #060A24;
        position: relative;
        top: -120px;
        display: flex;
        flex-direction: column;
        @include desktop{
            top: 0px;
            margin-top: 50px;
            margin-left: 65px;
        }
        &__title{
            width: 60%;
            margin-left: 16px;
            p{
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 36px;
                line-height: 42px;
                @include desktop{
                    font-size: 48px;
                    line-height: 62px
                }
            }
        }
        &__parrafo{
            margin-left: 16px;
            margin-top: 8px;
            width: 80%;
            @include desktop{
                width: 60%;
            }
            p{
                font-family: 'IBM Plex Mono', monospace;
                font-size: 14px;
                line-height: 22px;
                @include desktop{
                    font-size: 16px;
                    line-height: 24px;
                }
            }

        }
    }
}
.gal{
    position: relative;
    top: -80px;
    &__title{
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        width: 60%;
        margin-left: 16px;
        margin-bottom: 14px;
        @include desktop{
            width: auto;
            margin-left: 100px;
            margin-bottom: 40px;
            font-size: 48px;
            line-height: 62px;
        }
    }
    .pho{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        @include desktop{
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
        }
        &__img{
            img{
                display: flex;
                width: 100%;
                @include desktop{
                    width: 100%;
                }
            }   
        }
    }
}
.topi{
    &__title{
        h1{
            color: #060A24;
            font-size: 36px;
            font-family: 'IBM Plex Sans', sans-serif;
            width: 80%;
            margin-left: 16px;
            margin-bottom: 40px;
            @include desktop{
                margin-left: 100px;
                font-size: 48px;
                line-height: 62px;
                margin-bottom: 80px;
            }
        }
    }
    .svg{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap:50px;
        &:last-child{
            margin-bottom: 42px;
        }
        @include desktop{
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &__sub{
            justify-content: center;
            display: grid;
            grid-template-columns: 288px;
            grid-template-rows: 104px 80px;
            @include desktop{
                grid-template-columns: 220px;
                grid-template-rows: 104px 80px;
            }
            h3{
                color: #060A24;
                text-align: center;
                font-size: 24px;
                line-height: 32px;
                font-family: 'IBM Plex Sans', sans-serif;
            }
            img{
                margin: auto;
            }
        }
    }
}
.end{
    width: 100%;
    height: 385px;
    background: linear-gradient(to left,#0000FF,#0000A3);
    transform: skewY(-6deg);
    @include desktop{
        height: 520px;
    }
    &__p{
        p{
            transform: skewY(6deg);
            color: #060A24;
            text-align: center;
            position: relative;
            top: 64px;
            color: white;
            font-size: 36px;
            line-height: 42px;
            font-family: 'IBM Plex Sans', sans-serif;
            @include desktop{
                font-size: 48px;
                line-height: 62px;
                top: 180px;
            }
        }
    }
    &__bot{
        transform: skewY(6deg);
        position: relative;
        top: 64px;
        font-family: 'IBM Plex Mono', monospace;
        background-color: #00F3BB;
        padding: 13px 28px;
        margin-top: 36px;
        margin-bottom: 60px;
        margin-left: 26px;
        font-size: 16px;
        &:hover{
            background: linear-gradient(top right,#0000FE,#00F0B8);
        }
        @include desktop{
            font-size: 18px;
            top: 200px;
            margin-left: 500px;
        }
    }
}
footer{
    display: flex;
    flex-direction: column;
    @include desktop{
        flex-direction: row;
        justify-content: space-between;
    }
    .font{
        ul{
            display: flex;
            justify-content: center;
            margin-left: 15px;
            margin-bottom: 31px;
            @include desktop{
                margin-top: 40px;
                margin-right: 100px;
            }
            li{
                list-style: none;
                &:last-child{
                    i{
                        padding-right: 0px;
                    }
                }
                i{
                    padding-right: 45px;
                    font-size: 25px;
                }
            }
        }
    }
    p{
        margin-top: 24px;
        margin-bottom: 16px;
        text-align: center;
        font-size: 22px;
        @include desktop{
            margin-top: 40px;
            margin-left: 100px;
            font-size: 16px;
        }
    }
}